.contato {
    padding: 80px 0;
    h2 {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .formulario {
        margin: 0 auto;
        .item {
            margin-bottom: 20px;
        }
    }
}