@-webkit-keyframes effectMenu {
    0% {
        position: absolute;
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

@keyframes effectMenu {
    0% {
        position: absolute;
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

@keyframes effectMenuOut {
    0% {
        position: absolute;
        top: -100%;
    }
    100% {
        top: 0%;
    }
}